{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}
    <h1>Meeting Planner Application</h1>
    <p>
        This app will help you to manage your
        <b>Meeting Planner</b> in the simple way.
    </p>

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="/meetings/{{meeting.id}}">{{meeting.title}}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms' %}">Rooms list</a>
{% endblock %}